* {
  box-sizing: border-box;
}
.menu {
  float: left;
  width: 20%;
  text-align: center;
}

.menu a {
  background-color: #e5e5e5;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}


.left {
  background-color: #128361;
  padding: 20px;
  float: left;
  width: 20%; 
}

.main {
  background-color: #f1f1f1;
  padding: 20px;
  float: left;
  width: 60%; 
}

.right {
  background-color: #04AA6D;
  padding: 20px;
  float: left;
  width: 20%;
}


@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; 
  }
}