table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: auto;
}
table,td, th {
  border: 1px solid,black;
  border-radius: 10px;
  text-align: left;
  padding: 8px;
}
td,th{
    background-color: #96D4D4;
    border-style: dotted;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    border-spacing: 10px;
    text-align: left;
}
th{
    background-color: #04AA6D;
    text-align: left;
    width: 70px;
    height: 70px;
    color: white;
}
tr:nth-child(even){
   background-color: #f2f2f2;
}
tr:hover{
   background-color:coral ;
}
tr:nth-child(even) {
  background-color: rgba(150,212,212,0.4);
}
th:nth-child(even),td:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}
td{
    height:50px;
    text-align: center;
    vertical-align: bottom;
}
div{
    flex-flow:auto;
    position: sticky;
    top: 0;
     background-color: green;
    border:2px solid #4CAF50;

}