ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.nav li{
    display: inline-block;
    font-size: 19px;
    padding: 15px;
}
li a{
    display: inline-block;
    color: whitesmoke;
    text-align: center;
    padding:15px 18px;
    text-decoration: none;
}
li a:hover{
    background-color: blue;
}
.active{
    background-color: orange;
}
.nav{
    background-color: lightblue;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
