*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: whitesmoke;
}
nav{
    float: left;
    width: 30%;
    height: 300px;
    background: #ccc;
    padding: 10px
}
nav ul{
    list-style-type: none;
    padding: 0;
}
article{
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px;
}
section::after{
    content: "";
    display: table;
    clear: both;
}
footer{
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: wheat;
}
@media (max-width: 600px) {
    nav,article {
        width: 100%;
        height: auto;
    }
}
p.one{
    border: 1px solid black;
    outline: 3px solid red;
    outline-offset:-5px;
    margin: 30px;
    padding: 5px;
    background: yellow;
    text-align: center;
}
p.ex1{
    outline: dashed;
    border-radius: 8px;
    outline-color:hsl(0, 100%, 50%);
    outline-width: thin;
    text-align-last:right ;
}
p.ex2{
    outline: dotted red;
    border-radius: 5px;
    outline-color:blue;
    outline-width: medium;
    text-align-last: center;
}
p.ex3{
    outline: 7px solid yellow;
    border-radius: 8px;
    outline-color:green;
    outline-width: thick;
    text-align-last:justify ;
}