
#div1 {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
  background-color: lightblue;
}
h1.lowercase{
    background-color: green;
    text-transform: lowercase;
    letter-spacing: -2px;
    line-height: 0.8;
    word-spacing: 10px;
}
p.uppercase{
    background-color: yellow;
    background-image: url("Image/gold.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width:400%;
    height: 100px;
    text-transform: uppercase;
    text-indent: 50px;
    line-height: 1.8;
    word-spacing: -2px;
    white-space: nowrap;
}
body{

    background-image:url("Image/background.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
}