html body{
    width:50%;
    height:50%;
}
body{
    background-color: honeydew;
}
h1{
    color:navy;
    margin-left: 30px;
}
p.one{
    border-style: solid;
    border-color: red green blue yellow;
}
p.two{
    border-style:dotted solid;
    border-color: hsl(0,100%,50%);
}
p.three{
    border-style: dotted;
    border-color: rgb(255,0,0);
}

p.one{
  border-style: dotted solid double dashed;
}


p.two {
  border-style: dotted solid double;
}


p.three {
  border-style: dotted solid;
}


p.three {
  border-style: dotted;
}
