html body{
    width:50%;
    height:50%;
}
body{
    background-color: honeydew;
}
h1{
    color:navy;
    margin-left: 30px;
    text-decoration: overline;
    text-decoration-color: red;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
}
p.one{
    border-style: solid;
    border-color: red green blue yellow;
    text-decoration: overline underline;
    text-decoration-color: purple;
    text-decoration-style: dashed;
}
p.two{
    border-style:dotted solid;
    border-color: hsl(0,100%,50%);
    text-decoration-style: wavy;
}
p.three{
    border-style: dotted;
    border-color: rgb(255,0,0);
    text-decoration-style: wavy;
    text-decoration-thickness: 5px;
}

p.one{
  border-style: dotted solid double dashed;
}


p.two {
  border-style: dotted solid double;
}


p.three {
  border-style: dotted solid;
}


p.three {
  border-style: dotted;
}
h2{
  text-decoration: line-through;
  text-decoration-color: blue;
  text-decoration-style: double;
  text-decoration-thickness: 5px;
}