*{
    box-sizing: border-box;
}
body{
    background-color: bisque;
}

.all-browsers{
    margin: 0;
    padding: 5px;
    background-color: lightblue;
}
.all-browsers > h1,.browser{
    margin: 10px;
    padding: 5px;
}
.browser{
    background-color: blueviolet;
}
.browser > h2,p{
    margin: 4px;
    font-size: 90%;
}