
body{
           /* background-image: url('https://i.pinimg.com/736x/66/f1/e3/66f1e3ab1cf6e0044b7deeff1142b558.jpg'); */
           background: repeat;
           background-attachment: fixed;
           background-size: 100% 100%;

        }
img{
    /* position:absolute; */
    float: none;
    margin-left: 15px;
    width: 200px;
    height: 200px;

}
#overflowTest{
    background: #04AA6D;
    color: white;
    padding: 16px;
    width: 90%;
    height: 100px;
    overflow:auto;
    border: 2px solid #ccc;
}
div{
    width: 200px;
    height: 65px;
    background-color: coral;
    overflow: visible;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}