html , body{
    height: 100%;
}
img.one{
    height: auto;
    width: auto;
}
img.two {
  height: 50%;
  width: 50%;
}

/* div.three {
  height: 300px;
  width: 300px;
  background-color: powderblue;
} */