*{
    box-sizing: border-box;
}
.img-container{
float: left;
width: 33.33%;
padding: 16px;
}
.flexcontainer .box{
    background-color: #f1f1f1;
    margin: 10px;
    text-align: center;
    width: 50%;
    line-height: 75px;
    font-size: 30px;
}