.city {
  background-color: tomato;
  color: white;
  border: 2px solid black;
  padding: 10px;
}
.note{
    font-size: 120%;
    color: orangered;
}
.main{
    text-align: center;
}
p{
    text-align: center;
    color: orange;
   
}
#p{
    text-align: left;
    color:aquamarine;
}
.city{
    background-color: darkorchid;
    align-items: center;
    width: 100px;
}
#myHeader {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
}
.city{
    background-color: wheat;
    color: white;
    padding: 10pxs;
}