body{
    background-color:lightskyblue;
}
div{
  max-height: 600px;
  min-width: 200px;
  background-color: powderblue;
}
img.a{
    width:600px;
    vertical-align: baseline;
}
img.b{
  vertical-align: text-top;
}
p{
  direction: rtl;
  unicode-bidi: bidi-override;
}